<div class="container text-center">
  <h2>Here are your letters!</h2>
  <hr>
  <ul class="list-inline">
    <% @grid.each do |letter| %>
      <li><%= letter%></li>
    <% end %>
  </ul>
  <hr>
  <h2>Now give me a sexy solution!</h2>
  <form action="/score" method="get" class="form-inline">
    <input type="hidden" name="grid" value="<%= @grid.join("") %>">
    <input type="hidden" name="time" value="<%= @time %>">
    <input type="text" class="form-control" name="attempt">
  </form>
</div>


