<div class="container text-center" id="grid-init">
  <h1>Welcome</h1>
  <h4>Please enter the size of the grid</h4>
  <hr>
  <form action="/game" method="get" class="form-inline">
    <div class="form-group">
      <label for="grid_size" class="control-label">Grid Size</label>
        <input type="text" placeholder="example - 6" name="grid_size" id="grid_size" class="form-control">
    </div>
    <input type="submit" class="btn btn-danger">
  </form>
</div>
