<div class="container text-center">
  <h1>Your attempt was:</h1>
  <h3><%= @result[:attempt] %></h3>
  <h1>The grid was:</h1>
  <h3><%= @result[:grid] %></h3>
  <h1>Your score is:</h1>
  <h3><%= @result[:score] %></h3>
  <h1><%= @result[:message] %></h1>
</div>

